body {
  background-color: #f4f4f4;
  color: #302e2e;

  font-family: Verdana, Helvetica, sans-serif;
  font-size: 100%;

  line-height: 1.6em
}
h1 {
  font-size: 300%;
  font-weight: 800;
  line-height: 1.6em;
  text-transform: capitalize;
}
nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

p {
  text-align: left;
  text-align: justify;
}
a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #0070BC;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author {
  font-style: italic;
  font-weight: 800;
  line-height: 3em;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  text-align: justify;
  width: 50%;
}
